:root {
  --maintext-color: #212121;
  --activebutton-textcolor: #ffffff;
  --active-color: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.list {
  list-style: none;
}

.link {
  color: #757575;
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--active-color);
}

/* ------------INDEX--------------- */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0, auto;
}
.header-page {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-page .container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 32px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: black;
}
.logoletter {
  color: var(--active-color);
}

.header-nav {
  display: flex;
  align-items: center;
  margin-left: 94px;
}
.header-menu {
  display: flex;
  align-items: center;
}
.header-menu-item:not(:last-child) {
  margin-right: 50px;
}
.header-addr {
  display: flex;
  align-items: center;
  /* margin-top: 32px; */
  margin-left: auto;
  margin-right: 0;
}
.header-addr-item:not(:last-child) {
  margin-right: 50px;
}

.blacklink {
  color: var(--maintext-color);
}

.hero .container {
  padding: 200px 0;
  background-color: #2f303a;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-header {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.hero-button {
  margin-top: 30px;
  padding: 10px 32px;

  border-radius: 4px;
  border-style: none;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: #ffffff;
  background: var(--active-color);
}
.btn {
  cursor: pointer;
}
.features-list {
  display: flex;
  padding: 94px 0;
}
.features-items {
  width: 270px;
  display: flex;
  flex-direction: column;
}
.features-items:not(:last-child) {
  margin-right: 30px;
}

.features-list-header {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--maintext-color);
}
.features-list-text {
  padding-right: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.what-we-do-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--maintext-color);
  margin-bottom: 50px;
}
.what-we-do .container {
  display: flex;
  flex-direction: column;
  padding-bottom: 94px;
  align-items: center;
}
.what-we-do-list {
  display: flex;
  padding-left: 0;
}
.what-we-do-item:not(:last-child) {
  margin-right: 30px;
}

.team-header {
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--maintext-color);
}
.team .container {
  display: flex;
  flex-direction: column;
  padding-bottom: 94px;
  align-items: center;
}
.team-list {
  display: flex;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item {
  border-style: solid;
  box-shadow: #757575;
  border-radius: 0 0 4px 4px;
}
.team-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}
.team-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--maintext-color);
}
.team-prof {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.footer {
  background-color: #757575;
}
.footerlogo {
  color: #ffffff;
}
.footer-addressletter {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: #ffffff;
}
.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.header-addr {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.footer .container {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
/* ------------portfolio-------------*/

.filter-button:hover,
.filter-button:focus {
  color: var(--activebutton-textcolor);
  background-color: #2196f3;
}
.filter-button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--maintext-color);
}

.filter {
}

.gallery-header {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--maintext-color);
}
.gallery-type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
